- var domain = 'http://127.0.0.1:8080'
doctype html5
html
    head
        title Developper1s Team Dashboard
        link(rel="stylesheet", href="static/css/main.css")
    body
        .header
            .header__logo
            ul.header__navigation
            .header__online_users

        .tools
            .tools__tool.icon_pencil.selected(data-type="pencil")
            .tools__tool.icon_hand(data-type="hand")
                script(type="text/javascript", src="#{domain}/socket.io/socket.io.js")
        svg.board(width=0, height=0) Your browser doesn't support SVG
    script(type="text/javascript", src="static/js/libs/snap.svg.js")
    script(type="text/javascript", src="static/js/EventEmitter.js")
    script(type="text/javascript", src="static/js/Utils.js")
    script(type="text/javascript", src="static/js/elements/default_element.js")
    script(type="text/javascript", src="static/js/elements/uml_block.js")
    script(type="text/javascript", src="static/js/Board.js")
    script(type="text/javascript", src="static/js/main.js")


