* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #95a5a6;
}
.board {
  width: 100%;
  height: 1000px;
}
@font-face {
}
.uml_block .uml_block__container {
  fill: #444949;
  stroke: none;
  stroke-width: 2;
}
.uml_block .uml_block__label {
  stroke: #ffffff;
  fill: #ffffff;
  stroke-width: 0;
}
.uml_block .uml_block__separator {
  stroke: #82a8da;
  stroke-width: 2;
}
.uml_block.available_resize {
  cursor: e-resize;
}
.tools {
  width: 100%;
  height: 48px;
  background-color: #393d40;
}
.tools .tools__tool {
  cursor: pointer;
  display: inline-block;
  background: url(../img/sprites.png) no-repeat;
}
.tools .tools__tool.icon_select {
  background-position: -150px 0;
  width: 48px;
  height: 48px;
}
.tools .tools__tool.icon_pencil {
  background-position: -48px 0;
  width: 48px;
  height: 48px;
}
.tools .tools__tool.icon_hand {
  background-position: 0 0;
  width: 48px;
  height: 48px;
}
.tools .tools__tool.icon_uml_block {
  background-position: -98px 0;
  width: 48px;
  height: 48px;
}
.tools .tools__tool:hover {
  background-color: #717f80;
}
.tools .tools__tool.selected {
  background-color: #95a5a6;
}
.Editor-48 {
  background-position: -50px 0;
  width: 48px;
  height: 48px;
}
.Drag-and-Drop-48 {
  background-position: 0 0;
  width: 48px;
  height: 48px;
}
.Navigation-48 {
  background-position: -150px 0;
  width: 48px;
  height: 48px;
}
