@font-face {
}
.uml_block .uml_block__container {
  fill: #444949;
  stroke: none;
  stroke-width: 2;
}
.uml_block .uml_block__label {
  stroke: #ffffff;
  fill: #ffffff;
  stroke-width: 0;
}
.uml_block .uml_block__separator {
  stroke: #82a8da;
  stroke-width: 2;
}
.uml_block.available_resize {
  cursor: e-resize;
}
